doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Api Pedidos
        link(rel="stylesheet", href="/styles/styles.css")
    body 
        header.cabecalho
            div.logo
                h1.logomarca 
                    a(href="") LOGOMARCA
            nav.menu_principal
                ul.menu_lista 
                    li.menu 
                        a(href="#") Instalação
                    li.menu 
                        a(href="#") Conexão
                    li.menu 
                        a(href="#") Tabelas
                    li.menu  
                        a(href="#") Requisições
        main.corpo 
            section.paginas#pagina1 
                h1 Seja bem vindo a nossa 
                    span API PEDIDOS
        script(src="/js/main.js") 